@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section > header{
	text-align: center;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	margin: 0 auto 3em auto;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

#the-eyes-have-it blockquote{
	font-style: italic;
}

abbr.era{
	font-variant: all-small-caps;
}

abbr.name{
	white-space: nowrap;
}

.newspaper p,
.inscription p{
	text-indent: 0;
}

.inscription{
	text-align: center;
	font-variant: small-caps;
}

.newspaper header{
	font-variant: small-caps;
	text-align: center;
}

[epub|type~="z3998:letter"] p{
	text-indent: 0;
}

.signature{
	text-align: right;
}

section[epub|type~="chapter"]{
	page-break-after: always;
}
