@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:acronym"]{
	font-variant: all-small-caps;
}

#the-eyes-have-it blockquote{
	font-style: italic;
}

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

#the-gun blockquote{
	font-variant: small-caps;
	text-align: center;
}

[epub|type~="z3998:letter"] p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

section[epub|type~="chapter"]{
	break-after: page;
}

blockquote header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}
